<!-- Tabs -->
<div class='tabs'>
  <ul class='tabs-header'>
    <li class='default-tab'>NPM</li>
    <li>PNPM</li>
    <li>YARN</li>
  </ul>
  <ul class='tabs-content'>
    <li class='tab'>
      <code>$ npm create astro@latest</code>
    </li>
    <li class='tab'>
      <code>$ pnpm create astro@latest</code>
    </li>
    <li class='tab'>
      <code>$ yarn create astro</code>
    </li>
  </ul>
</div>
